.field {
  display: flex;
  flex-wrap: wrap;
}

.field__cell {
  border: none;
  background-color: transparent;
  padding: 0;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  background-image: url("../img/sprite@2.png");
  background-repeat: no-repeat;
}

.field__cell--closed {
  cursor: pointer;
  background-position: 0 -102px;
}

.field__cell--closed:hover {
  opacity: 0.5;
}

.field__cell--opened {
  background-position: -34px -102px;
}

.field__cell--flag {
  background-position: -68px -102px;
}

.field__cell--quest {
  cursor: pointer;
  background-position: -101px -102px;
}

.field__cell--quest:hover {
  background-position: -136px -102px;
}

.field__cell--bomb {
  background-position: -170px -102px;
}

.field__cell--bomb-act {
  background-position: -204px -102px;
}

.field__cell--bomb-flag {
  background-position: -238px -102px;
}

.field__cell--1 {
  background-position: 0 -136px;
}

.field__cell--2 {
  background-position: -34px -136px;
}

.field__cell--3 {
  background-position: -68px -136px;
}

.field__cell--4 {
  background-position: -102px -136px;
}

.field__cell--5 {
  background-position: -136px -136px;
}

.field__cell--6 {
  background-position: -170px -136px;
}

.field__cell--7 {
  background-position: -204px -136px;
}

.field__cell--8 {
  background-position: -238px -136px;
}
