.container {
  box-sizing: border-box;
  width: 1280px;
  margin: 0 auto;
  padding: 80px;

  @include vp-1279 {
    padding: 60px 40px;
    width: 768px;
  }

  @include vp-767 {
    width: 320px;
    padding: 20px 15px;
  }
}
