$color-default-black:               #000000;
$color-default-white:               #ffffff;

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;
